In [ ]:
#Sequence Types 2

In [1]:
tu = (23, 'abc', 4.56, (2,3), 'def"')

In [9]:
li = ["abc", 34, 4.34, 23]

In [2]:
st="hello world"

In [3]:
st='hello world'

In [4]:
st="""this is a muti-line string that uses triple quotes."""

In [ ]:
#Sequence Types 3

In [5]:
tu= (23,'abc', 4.56, (2,3), 'def')
tu[1] # Second item in the tuple, 0부터 시작한다.

'abc'

In [6]:
li=["abc",34,3.34,23]
li[1]

34

In [7]:
st="hello_world"
st[1]

'e'

In [ ]:
#Negative indices

In [8]:
t=(23, 'abc', 4.56, (2,3), 'def')
t[1]

'abc'

In [9]:
t=(23, 'abc', 4.56, (2,3), 'def')
t[-3]

4.56

In [ ]:
#Slicing: Return Copy of a Subset 1 슬라이싱: 부분 집합 1의 복사본 반환

In [11]:
t=(23,'abc',4.56, (2,3), 'def')
t[1:4] #n부터 m까지

('abc', 4.56, (2, 3))

In [12]:
t=(23,'abc',4.56, (2,3), 'def')
t[1:-1]

('abc', 4.56, (2, 3))

In [13]:
t=(23,'abc',4.56, (2,3), 'def')
t[1:-1:2]

('abc', (2, 3))

In [ ]:
#Slicing: Return Copy of a Subset 2

In [14]:
t=(23,'abc',4.56, (2,3), 'def')
t[:2]

(23, 'abc')

In [15]:
t=(23,'abc',4.56, (2,3), 'def')
t[2:]

(4.56, (2, 3), 'def')

In [ ]:
#Copying the Whole Sequence

In [18]:
t=(23,'abc',4.56, (2,3), 'def')
t[:]

(23, 'abc', 4.56, (2, 3), 'def')